# Ignore virtual environment
.venv/
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system and editor files
.DS_Store
Thumbs.db
*.log

# Ignore Excel files (optional)
*.xlsx

# Ignore environment or dependency caches
*.env
.env/
